@import '~@/styles/variables'

.map-info
  .map-info-header
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center
    padding: $f15px $f15px 0
    font-family: 'Roboto'
    color: white
    width: 100%
  .subprojectName
    padding-top: $f10px
    margin: 0 $f10px
    font-weight: bold;
  h2
    align-self: center
    font-size: $f40px
    font-weight: 700
    line-height: 1
    margin: 0
    padding-right: $f40px
    flex: 2 1 0
    @media screen and (max-width: 450px)
      font-size: $f28px
  i.project-number
    font-size: $f52px
    margin-right: $f10px
    position: relative
    span
      font: 1.7rem 'Roboto Condensed'
      position: absolute
      top: 17%
      left: 37%
    &.gt9
      span
        top: 20%
        left: 24%
  .gt20
    font-size: 1.4rem
  .close
    background-color: transparent
    color: white
    font-size: 1.5rem
    width: auto
    height: auto