@import '~@/styles/variables'
@import '~@/styles/map/map-info-header-scoped'

$map-info-title-header-height = $f100px
$tab-content-padding = $f10px

.map-info
  // Estilos para fijar cabezera
  & >>>
    .v-window
      height: "calc(100vmin - %s - %s - %s - %s - %s)" % ($map-info-title-header-height $v-tabs-height $header-height $footer-height $f5px)
      height: "calc(100vh - %s - %s - %s - %s - %s)" % ($map-info-title-header-height $v-tabs-height $header-height $footer-height $f5px)
      @media screen and (max-width: 850px)
        height: "calc(100vmin - %s - %s - %s)" % ($map-info-title-header-height $v-tabs-height $f5px)
        height: "calc(100vh - %s - %s - %s)" % ($map-info-title-header-height $v-tabs-height $f5px)
  figure
    margin: 0
    display: block
    font-size: 1rem
    article
      display: flex
      justify-content: space-around
      position: relative
    figcaption
      padding: $f10px $f20px
      font-size: 1.1rem
      line-height: 1.3
      white-space: pre-line
  .tab-content
    padding: 0 $tab-content-padding
    font-size: 1.2rem
    overflow-x: hidden
    overflow-y: auto
    z-index: 999
  .tab_1
    padding: 0
    .slogan
      font: bold 1.2rem 'Roboto'
  .tab-icon
    font-size: $f25px
    @media screen and (max-width: 450px)
      font-size: $f30px
  .tab-legend
    width: 100%
    @media screen and (max-width: 500px)
      display: none

  // Estilos para fijar cabezera
  .map-info-header
    height: $map-info-title-header-height
  & >>>
    .v-tabs__container a.v-tabs__item
      width: 100%
    .v-window
      overflow: auto

.v-tabs__container--fixed-tabs .v-tabs__div,
.v-tabs__container--icons-and-text .v-tabs__div
  flex: 1 0 72px
  width: 72px
  min-width: 72px

@media only screen and (min-width: 600px)
  .v-tabs__container--fixed-tabs .v-tabs__div,
  .v-tabs__container--icons-and-text .v-tabs__div
    flex: 1 0 120px
    width: 120px
    min-width: 120px

@media only screen and (min-width: 768px)
  .v-tabs__container--fixed-tabs .v-tabs__div,
  .v-tabs__container--icons-and-text .v-tabs__div
    flex: 1 0 90px
    width: 90px
    min-width: 90px
