@import '~@/styles/variables'

.vue2leaflet-map >>>
  .refugio-popup
    .row
      align-items: center
      width: 100%
    .md-toolbar
      background-color: $color_0
      color: white
      box-sizing: border-box
      padding: 0
    .md-list
      padding: 0 12px
    .md-divider
      margin-left: 50%
  .leaflet-popup
    .leaflet-popup-content
      min-width: 280px
      margin: 0
    .leaflet-popup-content-wrapper
      border: 1px solid $color_0
      border-radius: 2px
      padding: 0
    .leaflet-popup-close-button
      z-index: 999