@import '~normalize.css/normalize.css'
@import '~material-design-icons/iconfont/material-icons.css'
@import '~swiper/dist/css/swiper.css'
//  @import '~@/assets/fonts/fontawesome/web-fonts-with-css/css/fontawesome.min.css'
@import '~@/assets/fonts/asu-participa/style.css'
@import './roboto'
@import './variables'
@import './vuetify'

/* Scroll custom style */
::-webkit-scrollbar
  width: $scroll-size
  height $scroll-size
/* Track */
::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 $scroll-size rgba(0,0,0,0.3);
  border-radius: $scroll-size
/* Handle */
::-webkit-scrollbar-thumb
  border-radius: $scroll-size
  background: $gray
  -webkit-box-shadow: inset 0 0 $scroll-size rgba(0,0,0,0.5)
::-webkit-scrollbar-thumb:window-inactive
	background: $gray

*
  font-family: $font-family
  text-decoration: none
*, ::after, ::before, :after, :before
  box-sizing: border-box

html // ojo con esta regla, se puede romper algo
  overflow-y: auto
  overflow-y: unset

.md-checkbox-container,
.md-radio-container
  box-sizing: content-box

body
  font-family: $font-family
  font-size: 16px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a
  color: inherit
  cursor: pointer
  text-decoration: none
s
    text-decoration: line-through
u
  text-decoration: $gray solid underline

button, input, optgroup, select, textarea
  font: initial
  font-family: $font-family

audio, canvas, embed, iframe, img, object, video
    max-width: 100%
    font-style: italic
    vertical-align: middle

.application
  line-height: 1


.v-speed-dial__list,
.v-overlay.v-overlay--active
  z-index: 10999 !important
.md-dialog,
.v-tooltip__content.menuable__content__active
.v-dialog__content.v-dialog__content--active
  z-index: 11000 !important

.md-body-1, body
  font-weight: 400;
  line-height: 1

.md-theme-default a:not(.md-button)
  color: inherit
  &:hover
    color: inherit

.center
  display: flex
  justify-content: center
  align-items: center

.button.is-small
  border-radius: .125rem
  font-size: .75rem

.button
  cursor: pointer
  font-size: $f16px
  justify-content: center
  line-height: $f16px
  padding-bottom: calc(.375rem - 1px)
  padding-left: .75rem
  padding-right: .75rem
  padding-top: calc(.375rem - 1px)
  text-align: center
  white-space: nowrap

.isDesktop
  .mobile-menu
    display: none

.md-button
  text-transform: initial
  &.md-theme-default
    &.md-fab:not([disabled]).md-primary
      z-index: 10000
      background-color: transparent /* $color_0 */
      & i.material-icons
        color: $color_0
        width: $f36px
        min-width: $f36px
        height: $f36px
        font-size: $f36px !important
      box-shadow: 0 0 0
      .isMobile &
        display: ''
        top: 0
        left: 0
        &.md-mini
          top: $f5px

.md-list-item-content
  padding: 0
.leaflet-sidebar.visible
  z-index: 999

@media screen and (max-width: 767px)
  .leaflet-sidebar.right.visible
    top: 0 !important;
    .participe
      border: none;
      max-width: 95vw;
      .participe-logo, .asu-subtitle
        display: none;
      .icons-container .icons
        width: 100%;
        margin: 0;
        justify-content: space-evenly;
        button
          height: 2.5rem !important;
          width: 2.5rem !important;
          background-color: white !important;
          color: #0d2563 !important;
          -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12) !important;
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2), 0px 6px 10px 0px rgba(0, 0, 0, .14), 0px 1px 18px 0px rgba(0, 0, 0, .12) !important;
          .material-icons.otro
            color: #0d2563 !important;
          .ap-whatsapp
            color: #636368 !important;
  .leaflet-sidebar.left.visible
      height: 80vh !important
      left: 38px !important

@media screen and (max-width: 850px)
  .filter1.filters
    align-items: center;
  .v-btn--floating
    height: 30px !important;
    width: 30px !important;
  .leaflet-sidebar.right.visible
    z-index: 1001 !important;
    top: 5rem;
  .leaflet-control-container
    display: flex;
    justify-content: center;
    left: auto !important;
    .leaflet-sidebar.left.visible, .map-sidebar
      left: auto !important;
      width: 89% !important;
      margin: auto;
      top: 12vh !important;
      z-index: 1000 !important;
      border: 2px solid #a9a9a9;
      border-top: 0;
      border-radius: 0 0 20px 20px;
      .leaflet-control
        border-radius: 0 0 20px 20px;
        .project-list-panel.no-share-panel
          height: 100% !important;
          border-radius: 0 0 20px 20px;
      .v-list.theme--light
        height: auto;

@media screen and (min-width: 751px) and (max-width: 850px) and (max-height: 1024px) and (orientation: portrait)
  .leaflet-control-container
    display: flex;
    justify-content: center;
    left: auto !important;
    .leaflet-sidebar.left.visible
      left: auto !important;
      width: 89% !important;
      margin: auto;
      top: 12vh !important;
      z-index: 1000 !important;
      border: 2px solid #a9a9a9;
      border-top: 0;
      .v-list.theme--light
        height: 90vh;

@media screen and (max-width: 321px)
  .leaflet-control-container
    .leaflet-sidebar.left.visible
      top: 13vh !important;

@media screen and (max-width: 750px) and (orientation: landscape)
  .control-panel
    height: 15vh !important;

@media screen and (min-width: 800px) and (max-height: 400px) and (orientation: landscape)
    .leaflet-sidebar.left.visible
      width: 100% !important;
      top: 5rem;
      .v-list.theme--light
        height: 50vh;

@media screen and (max-width: 850px)
  .v-dialog__content .v-dialog .v-card .v-card__title .layout.wrap .flex.xs10
    img
      display: inline;
      width: 2rem !important;
      margin-right: 10px;
    span
      display: inline;
    .asu-title
      font-size: 1.5rem;

@media screen and (min-width: 666px) and (max-width: 736px) and (orientation: landscape)
  .leaflet-sidebar.left.visible, .search-control-container .searcher-list-options
    height: 70vh !important;
  .leaflet-control-container
    .leaflet-sidebar.left.visible
      top: 20vh !important;

@media screen and (min-width: 800px) and (max-width: 812px) and (max-height: 375px) and (orientation: landscape)
  .leaflet-sidebar.left.visible, .search-control-container .searcher-list-options
    height: 70vh !important;
  .control-panel
    height: 14vh !important;
  .leaflet-control-container
    .leaflet-sidebar.left.visible
      top: 20vh !important;

.footer-background
  background-image: url('~@/assets/img/edificios.png')
  background-repeat: repeat-x
  height: $f250px
  width: 100%

.isMobile
  .main-title,
  .subtitle
    padding-left: $f40px !important
  .main-title
    font-size: 1.5rem !important
  .subtitle
    padding: 0 $f5px $f5px
    font-size: 1.1rem !important

.makerIcon
  border: 0
  .icon-classify
    margin-top: - $f25px
    position: relative
    .project-number
      color: white
      font-family: 'Roboto Condensed'
      position: absolute
    &.ap-pin
      .project-number
        font-size: $f19px
        top: 18%
        left: 41%
    &.ap-pin-double
      .project-number
        font-size: $f50px
        top: 16%
        left: 29%
    &.gt9
      &.ap-pin
        .project-number
          font-size: $f18px
          top: 20%
          left: 33%
      &.ap-pin-double
        .project-number
          font-size: $f50px
          top: 18%
          left: 18%

a.download-button
  color: white
  display: flex
  justify-content: center
  align-items: center
  &:active
    color: white
  &:hover
    color: white
    text-decoration: none
  i.material-icons
    color: white

.align-self-stretch
  align-self: stretch

.md-field
  min-height: auto
  .md-textarea
    height: $f32px
    padding: 0
    line-height: $f32px
.md-ripple
  width: auto

.empty-data-text
  font-size: $f16px
  line-height: 1.2
  color: $gray_color
  padding: 0 $f20px

.source-data-text
  font-size: $f12px
  font-style: italic
  line-height: 1.1
  color: $gray_color

.otro
  font-size: $f12px
  font-weight: bold
  color: white

.fuentes
  font-size: $f12px
  font-style: italic
  line-height: 1.5
  color: $gray_color

.participe-icon
  font-family: 'Roboto Condensed', serif
  width: $f45px
  margin-right: $f10px

.material-icons
  width: $f24px
  min-width: $f24px
  height: $f24px
  font-size: $f24px
  margin: auto
  user-select: none
  align-items: center
  justify-content: center
  vertical-align: middle
  display: inline-flex !important

.material-icons-button
  width: $f40px
  min-width: $f40px
  height: $f40px
  margin: 0 $f6px

.icon-size-1x,
.material-icons.icon-size-1x,
.material-icons-button.icon-size-1x,
.material-icons-button .icon-size-1x
  width: $f24px
  min-width: $f24px
  height: $f24px
  font-size: $f24px

.icon-size-2x,
.material-icons.icon-size-2x,
.material-icons-button.icon-size-2x,
.material-icons-button .icon-size-2x
  width: $f48px
  min-width: $f48px
  height: $f48px
  font-size: $f48px

.icon-size-16,
.material-icons.icon-size-16,
.material-icons-button.icon-size-16,
.material-icons-button .icon-size-16
  width: $f16px
  min-width: $f16px
  height: $f16px
  font-size: $f16px

.icon-size-36,
.material-icons.icon-size-36,
.material-icons-button.icon-size-36,
.material-icons-button .icon-size-36
  width: $f36px
  min-width: $f36px
  height: $f36px
  font-size: $f36px

.md-field >
  & i.material-icons
    margin: $f4px auto
    position: relative
    z-index: 3
    transition: .4s cubic-bezier(.25,.8,.25,1)
  & i.material-icons ~ label
    left: $f36px
  & i.material-icons ~ .md-input,
  & i.material-icons ~ .md-textarea
    margin-left: $f12px

.md-fab,
.material-icons-button
  border-radius: 50%
  z-index: 5

.md-fab .md-ripple
  padding: 0

.md-fab .md-ripple,
.material-icons-button:before,
.material-icons-button .md-ripple
  border-radius: 50%

.asu-title
  line-height: 1.5
  font-family: 'Roboto Condensed', Roboto
  display: flex
  align-items: center
  justify-content: space-between
  font-size: $f20px
  font-weight: 500

.v-btn
  text-transform: none !important

.v-tooltip + .v-btn
  margin-left: 0

.v-btn.v-btn--xsmall
  min-width: $f65px
  height: $f28px
  &.v-btn--icon,
  &.v-btn--floating
    min-width: $f30px
    height: $f30px
    width: $f30px
    .material-icons
      min-width: $f30px

.theme--light.v-btn.v-btn--disabled .material-icons
  color: rgba(0,0,0,0.26) !important

.v-list.theme--light
  .v-list__tile--link
    height: auto
    min-height: 48px
    text-decoration: none
  // .v-list__tile__content
    // Con este se centra los elementos de la lista en IE 11 pero si el contenido necesita crecer más que 48px por el nombre del proyecto muy largo, este no crece y queda en 48 siempre
    // height: 1px
    // min-height: 48px

.v-text-field
  margin-bottom: $f30px

.v-window
  padding-top: $f10px

.v-tabs__container
  &&--fixed-tabs,
  &&--icons-and-text
    height: $v-tabs-height
  a.v-tabs__item
    text-decoration: none

.v-tabs__item
  text-transform: none

.v-card .asu-title
  font-size: $f24px
  line-height: $f32px

#cover-page
  min-height: 100vmin
  min-height: 100vh
  background-color: white
  margin: 0
  color: rgb(13, 37, 99)
  text-align: center
  min-height: calc(100vh - 100px)
  font-family: Raleway
  font-size: 1.5vw
  strong
    font-family: Raleway, 'Roboto Condensed'
  a
    font-family: Raleway, 'Roboto Condensed'
  h2
    margin-block-start: 0.83em
    margin-block-end: 0.83em
    margin-inline-start: 0px
    margin-inline-end: 0px
    margin: 0.83em 0
  h3
    margin-block-start: 1em
    margin-block-end: 1em
    margin-inline-start: 0px
    margin-inline-end: 0px
    margin: 1em 0
    font-weight: normal
    a
      text-decoration: underline
  @media screen and (min-width: 576px)
    text-align: left
  .logoprogram-title
    font-size: 1rem
    line-height: 1.5rem
    font-family: Raleway, 'Roboto Condensed'
    text-align: center

.cover-header
  height: $f80px
  @media screen and (min-width: $large-responsive-size)
    align-items: center
  .title-program
    display: flex
    flex-direction: column
    justify-content: flex-end
    text-align: center
    height: 4.5rem
    @media screen and (max-width: 460px)
      padding-top: $f42px
    @media screen and (min-width: $large-responsive-size)
      padding-top: 0
      font-size: 2vmax
      font-size: 2vw
    span
      font-family: Raleway, 'Roboto Condensed'
      font-size: $f40px
      font-weight: bold
      display: inline-block
      margin: 0 auto

.programs-page-title
  font-size: $f21px
  font-weight: 200
  font-family: Raleway, 'Roboto Condensed'
  color: rgb(13, 37, 99)
  text-align: center
  display: inline-block
  max-width: 70vmax
  max-width: 70vw
  @media screen and (min-width: 768px)
    font-size: 1.7rem
  @media screen and (min-width: $large-responsive-size)
    font-size: 2vmax
    font-size: 2.35vw
  & strong
    font-size: 1.3rem
    font-family: Raleway, 'Roboto Condensed'
    font-weight: bold
    color: rgb(244, 121, 32)
    @media screen and (min-width: 768px)
      font-size: 1.7rem
    @media screen and (min-width: $large-responsive-size)
      font-size: 2vmax
      font-size: 2vw

.cover-page-container
  width: 100%
  height: 100%
  margin: 0
  overflow-x: hidden
  margin: 100px 0 0 0

.cover-body
  min-height: "calc(100vmin - %s)" % (80px + 14px + 250px)
  min-height: "calc(100vh - %s)" % (80px + 14px + 250px)
  .logoprogram
    width: 18rem
    margin: 0 auto
    @media screen and (max-width: 960px)
      margin-left: $f5px
    & img.asuparticipa-logo
      width: 100%
      height: auto
    @media screen and (min-width: $large-responsive-size)
      width: 22vmax
      width: 23vw
  .information
    border-radius: 20px
    border: 2.5px solid rgb(13, 37, 99)
    box-sizing: border-box
    text-align: center
    text-decoration: none
    font-size: 1.2rem
    font-weight: 700
    width: 100%
    vertical-align: middle
    padding-top: $f1px
    & a
      font-family: Raleway, 'Roboto Condensed'
    @media screen and (min-width: $large-responsive-size)
      font-size: 1.4vmax
      font-size: 1.4vw
      height: 2vmax
      height: 2vw

  .comillas
    display: inline-block
    font-size: 4rem
    color: $color_2
    @media screen and (min-width: 768px)
      font-size: 7.5rem
    @media screen and (min-width: 768px) and (max-width: 900px)
      margin: 0 0 0 $f20px

  .description
    text-align: left
    margin-top: $f21px
  .description-body
    margin: 0 2.5rem
    @media screen and (min-width: 768px) and (max-width: 900px)
      margin: 0 20px 0 45px
    h2
      font-size: $f18px
      font-weight: 500
      font-family: Raleway, 'Roboto Condensed'
      line-height: 1.3
      color: rgb(13, 37, 99)
      text-align: justify
      .sub
        font-size: $f18px
      strong
        font-size: $f18px
      @media screen and (max-width: $programs-responsive-size)
        margin: 0 0 0 0
    h3
      font-size: $f16px
      font-weight: normal
      font-family: Raleway, 'Roboto Condensed'
      color: rgb(13, 37, 99)
      margin: 0 2.5rem
    strong
      font-family: Raleway, 'Roboto Condensed'
    .sub, .sub a
      font-size: $f18px
      font-family: Raleway, 'Roboto Condensed'
      text-decoration: underline
    .sub2, .sub2 a
      font-family: Raleway, 'Roboto Condensed'
      font-style: italic

@media screen and (max-width: 850px)
  .cover-page-container
    margin-top: 5.1875rem !important;

@media screen and (max-width: 960px)
  .costera-page, .viva-page, .participa-page, .download-page
    .description-body h2, .description-body h2 strong, .description-body h2 strong a
      margin: 0 !important;
    .description-body h3
      font-size: 1rem !important;
    .cover-body .logoprogram
      margin-left: auto !important;
    .logoprogram-title, .logoprogram-title a, .programs-page-title, .programs-page-title strong
      font-size: 1.2rem !important;
    .title-program span
      text-align: center;
    .information a
      height: auto !important;
    .header-separator, .layout.row.cover-header
      display: none !important;
    .description-body
      margin: 0 2rem !important;
      margin-bottom: 6rem !important;
