<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:url" content="<%= VUE_APP_BASE_URL %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ASUParticipa" />
    <meta property="og:description" content="Ciudadanos en el centro de las soluciones de las inundaciones costeras" />
    <meta property="og:image" content="${require(`./images/asuparticipax3.png`)}" />
    <meta property="og:image:width" content="527" />
    <meta property="og:image:height" content="352" />
    <link rel="shortcut icon" sizes="16x16 32x32 64x64" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/asuparticipax3.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Roboto+Condensed:400,500,700,400italic|Raleway:400,400i,700,700i">
    <link rel="manifest" href="/manifest.json">
    <title>ASUParticipa</title>
    <style type="text/css" media="print">
        @page{size:A3 landscape;margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;margin:0;-webkit-print-color-adjust:exact;color-adjust:exact}
    </style>
    <style>
        @media print{body,html{-webkit-print-color-adjust:exact!important;color-adjust:exact!important}}
    </style>
</head>
<body>
<noscript>
    <strong>We're sorry but asu-participa doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
<script>
(window.Promise && window.fetch) || document.write('<script src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch,Promise"><\/script>');if ('serviceWorker' in navigator){console.log("Will the service worker register?");navigator.serviceWorker.register('service-worker.js').then(function(reg){console.log("Service worker is registered.");}).catch(function(err){console.log("No it didn't. This happened:", err)});}
</script>
</body>
</html>
