<template lang="pug">
.familias-panel
  .datos-container
    .datos-row.row1
      .datos-column1.familias
        i.ap-familias-estadisticas
        span
          .amount(:class="getClassForFamiliasCensadas(censo.familias)") {{censo.familias || '-'}}
          .label Familias Censadas
        .datos-circulo-separator.center
          .line
        .datos-circulo.personas
          .number {{getData(censo.personas).total || '-'}}
          .asu-title Personas
      .datos-column2.sexos
        .datos-circulo-separator.center
          .line
        span
          .datos-sexos.female
            i.datos-sexos-icon.ap-Female
            .datos-sexos-info
              .amount {{getData(censo.personas).femenino || '-'}}
              .label Mujeres
          .datos-sexos.male
            i.datos-sexos-icon.ap-Male
            .datos-sexos-info
              .amount {{getData(censo.personas).masculino || '-'}}
              .label Hombres
    .datos-row.row2.ticket-info-row
      .datos-column1
        i.ap-pareja
      .datos-column2
        TicketInfo(:number="getData(censo.niños).total || '-'" title="Niños" subtitle="0 a 14 años" icon="ap-sexados")
          template(slot="values")
            div
              span.amount {{getData(censo.niños).femenino || '-'}}
              span.label  Femenino
            div
              span.amount {{getData(censo.niños).masculino || '-'}}
              span.label  Masculino
    .datos-row.row3.ticket-info-row
      .datos-column1
        i.ap-pareja
      .datos-column2
        TicketInfo(:number="getData(censo.jovenes).total || '-'" title="Jóvenes" subtitle="14 a 17 años" icon="ap-sexados")
          template(slot="values")
            div
              span.amount {{getData(censo.jovenes).femenino || '-'}}
              span.label  Femenino
            div
              span.amount {{getData(censo.jovenes).masculino || '-'}}
              span.label  Masculino
    .datos-row.row4.ticket-info-row
      .datos-column1
        i.ap-pareja
      .datos-column2
        TicketInfo(:number="getData(censo.adultos).total || '-'" title="Adultos" subtitle="18 a 64 años" icon="ap-sexados")
          template(slot="values")
            div
              span.amount {{getData(censo.adultos).femenino || '-'}}
              span.label  Femenino
            div
              span.amount {{getData(censo.adultos).masculino || '-'}}
              span.label  Masculino
    .datos-row.row5.ticket-info-row
      .datos-column1
        i.ap-tercera-edad
      .datos-column2
        TicketInfo(:number="getData(censo.adultosMayores).total || '-'" title="Tercera Edad" subtitle="65 años en adelante" icon="ap-sexados")
          template(slot="values")
            div
              span.amount {{getData(censo.adultosMayores).femenino || '-'}}
              span.label  Femenino
            div
              span.amount {{getData(censo.adultosMayores).masculino || '-'}}
              span.label  Masculino
    .datos-row.row6
      .datos-column1.center
        .datos-extra
          div
            i.ap-pregnant
            span.amount {{censo.embarazo || '-'}}
          .label Embarazadas
      .datos-column2.center
        .datos-extra
          div
            i.ap-discapacidad
            span.amount {{censo.discapacidad || '-'}}
          .label Personas con discapacidad
    //- EnfermedadesRecientes
    InternacionReciente

</template>

<script>
import { mapGetters } from 'vuex'
import { getData } from '@/utils/object.js'

export default {
  components: {
    // EnfermedadesRecientes: _ => import('@/components/map/solucion-a-corto-plazo/panel/tab3/panel/estadisticas/EnfermedadesRecientes'),
    InternacionReciente: _ => import('@/components/map/solucion-a-corto-plazo/panel/tab3/panel/estadisticas/InternacionReciente')
  },
  computed: {
    ...mapGetters({ totalCenso: 'censo' }),
    censo () {
      return getData(this.totalCenso)
    }
  },
  methods: {
    getData,
    getClassForFamiliasCensadas (num) {
      if (!num) return ''
      return num.toString().length > 2 ? 'lgt-2' : ''
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~@/styles/variables'

$label-color = #878787
$circulo = $f65px
$semicirculo = ($circulo / 2)
$datos-sexos-height = $f32px

.familias-panel
  white-space: normal
  i
    color: $color_0
    margin: 0 $f5px 0 0

  .datos-row
    display: flex

  .datos-column1
    flex: 1 1 38%

  .datos-column2
    flex: 1 1 62%

  .amount,
  .label
    color: $label-color
  .amount
    font-weight: bold

  .row1
    margin-top: $f30px
    & .datos-column1
      flex: 1 1 46%
    & .datos-column2
      flex: 1 1 54%
    & .datos-column1,
    & .datos-column2
      display: flex
      justify-content: flex-start
      align-items: flex-end
      span
        flex: 1 1 70%
        max-height: $circulo
      .amount
        font-size: $f38px
        &.lgt-2
          font-size: $f24px
      .label
        font-size: $f10px

  .datos-column1
    &.familias
      position: relative
      .label
        font-weight: bold
      .ap-familias-estadisticas
        font-size: $f64px
        flex: 1 1 40%
      span
        border-right: 2px solid $color_0
        flex: 1 1 30%
        padding-right: $f3px

  .datos-column2
    &.sexos
      span
        border-left: 2px solid $color_0
        flex: 1 1 85%
        height: $circulo
        padding-left: $f4px
      span,
      .datos-sexos-info
        display: flex
        justify-content: space-between
        flex-direction: column
      .datos-sexos
        display: flex
        &.female
          margin-top: - $f10px
        &.male
          margin-bottom: - $f16px
      .datos-circulo-separator
        flex: 1 1 15%
      .datos-sexos-icon
        font-size: $datos-sexos-height
      .datos-sexos-info
        .amount
          font-size: $f20px
        .label
          font-size: $f10px

  .datos-circulo
    background-color: $color_0
    border-radius: 50%
    height: $circulo
    width: $f104px
    color: white
    right: - ($semicirculo + $f1px)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-weight: bold
    line-height: 1
    @media screen and (max-width: 500px)
      width: $f64px
    .number
      font-size: $f36px
    .asu-title
      margin-top: - $f5px
      font-size: $f11px

  .datos-circulo-separator
    flex: 1 1 30%
    height: $circulo
    @media screen and (max-width: 500px)
      flex: 1 1 12%
    .line
      background-color: $color_0
      height: $f2px
      width: 100%

  .ticket-info-row
    .datos-column1
      display: flex
      justify-content: flex-end
      align-items: center
    .datos-column2
      border-left: 2px solid $color_0
      .ticket-info
        height: $f96px

  .row2
    .ticket-info-row
      height: $f118px
  .row2 .datos-column1 i
    font-size: $f45px
  .row3 .datos-column1 i
    font-size: $f60px
  .row4 .datos-column1 i
    font-size: $f80px
  .row5 .datos-column1 i
    font-size: $f70px

  .row6
    & .datos-column1,
    & .datos-column2
      flex: 1 1 50%

  .datos-extra
    width: $f84px
    i
      font-size: $f70px
    .amount
      font-size: $f48px
    .label
      font-size: $f15px
      font-weight: bold

  @media screen and (max-width: 350px)
    .datos-column2
      border-left: 0 !important;
  @media screen and (max-width: 500px)
    .ap-pareja, .ap-tercera-edad
      font-size: 8vw !important;
    .ap-familias-estadisticas
      display: none !important;
    .number
      font-size: 4vw !important;
</style>
