@import '~vuetify/src/stylus/settings/_variables'

for $size, $width in $grid-breakpoints
  @media all and (min-width: $width)
    for n in (1..$grid-columns)
      .flex.{$size}{n}
        width: (n / $grid-columns * 100)%

.flex,
.child-flex > *
  width: 100%
