<template lang="pug">

section.asu-download(:class="'page-' + page")
  #cover-page
    .cover-header.layout.row
      .title-program.flex.offset-md4.md8.xs12
        span(v-if="page === 'participa'") ASU PARTICIPA
        span(v-if="page === 'costera'") ASU COSTERA
        span(v-if="page === 'viva'") ASU VIVA
    LineMultiColorHeaderSeparator
    .layout.row.cover-body
      .flex.md4
        .logoprogram
          img.asuparticipa-logo(src="@/assets/img/asuparticipa.png")
          .information
            a(href="/#/") Ver más información
      .flex.md8
        .description
          .description-header.center
            i.comillas.ap-comilla1
            h1.programs-page-title Provee
              strong asistencia técnica
              | para generar mecanismos de
              strong participación ciudadana
              | en la estrategia de
              strong gestión de inundaciones
            i.comillas.ap-comilla2
          .description-body
            h2
              | El proyecto de impacto social, ambiental y principalmente de participación, que busca
              | incluir en el diálogo a la población víctima de las crecidas del río del Paraguay, no sólo para
              | hacer frente a las inundaciones, sino también en el proceso de adaptación al cambio climático.
              br
              br
              | Se incluye un mapeo y estudio de las familias ubicadas en zonas de riesgo, para
              | identificar y comprender los efectos y perjuicios de las inundaciones.
              | En consecuencia, la estrategia se desarrollará participativamente con un enfoque
              | en el uso eficiente de la tierra, las mejores prácticas de construcción y la gestión
              | adecuada de los residuos sólidos.
            h3
              | Los resultados contribuyen a una solución inmediata de
              strong defensa y desarrollo
              | social que contribuye al
              strong
                a.sub(href="/documents/cuatripticoBM.pdf" target="_blank") Plan Maestro de la Franja Costera.
    GoBackButton(@click="goToHome()" style="bottom: 195px;")
    .footer.footer-background

</template>

<script>
import goToHomeMixin from '@/mixins/go-back-home.js'

export default {
  name: 'AsuDownload',
  mixins: [goToHomeMixin],
  props: ['page']
}
</script>

<style scoped lang="stylus">
@import '~@/styles/variables'

#cover-page
  strong
    font-family: 'Roboto Condensed'
  .asu-download
    width: 100%
    height: 100%
    margin: 0px
    overflow-x: hidden
  .button.is-info.router-button
    color: white
    position: fixed
    left: 10px
    top: 10px

</style>
